# release on push with version tag
name: "defualt-realese"

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"

jobs:
  tagged-release:
    name: "Tagged Release"
    runs-on: "ubuntu-latest"

    steps:
      # tests here later
      - uses: actions/checkout@v3
      - run: yarn --ignore-engines
      - run: yarn run test
      - run: yarn run build --target npm
      - uses: vimtor/action-zip@v1
        with:
          files: library/
          dest: pyscript-react.zip
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          files: |
            LICENSE.txt
            pyscript-react.zip
